<template name="skills">
  <!-- MEDIUM AND SMALLER CONTENT -->
  <div class="page-content"> <div class="main-content">
	    <div class="title">
	    	<img src="images/{{ profile.name.first }}.jpg" alt="" class="circle title-img">
	      <p> skills</p>
      </div>
      <p class="intro"> {{ intro }} </p>

			<ul class="collapsible popout" data-collapsible="accordion">
	      <!-- if we want, add the odd item class to change every other row -->
	      <!-- <li class="{{#if odd @index}}odd_item{{/if}}"> -->
		    {{#each skills }}
		      <li>
		        <div class="collapsible-header"><i class="material-icons">{{this.icon}}</i>{{this.title}}</div>
		      	<div class="collapsible-body">
		      		{{#each skill }}
		      			<div class="skill_container">
		      				-<p class="skill">{{ this.text }} </p>
		      				<span class="stars"> {{> starsRating rating=this.stars size=20}} </span>
	      				</div>
		      		{{/each}}
		    		</div>
		      </li>
		    {{/each}}
		  </ul>
  </div> </div>
</template>
