<template name="interests">
  <!-- MEDIUM AND SMALLER CONTENT -->
  <div class="page-content"> <div class="main-content">
	    <div class="title">
	    	<img src="images/{{ profile.name.first }}.jpg" alt="" class="circle title-img">
	      <p> interests</p>
      </div>
      <p class="intro"> {{ intro }} </p>

      {{#each sections }}
	      <div class="section">
			    <img class="about_img" src="/images/{{ this.img }}">
	      	{{#each this.paragraphs }}
				    <p class="about"> {{ this }} </p>
			    {{/each}}
			  </div>
			{{/each}}

			{{#if simeon }}
				<hr>
				<p class="about">Check out a couple of examples of my work.</p>
        <a data-fancybox rel="gallery-about" href="/images/portfolio/painting1.jpg">
          <img class="small_portfolio" src="/images/portfolio/painting1.jpg">
        </a>
				<a data-fancybox rel="gallery-about" href="/images/portfolio/armor1.jpg">
          <img class="small_portfolio" src="/images/portfolio/armor1.jpg">
        </a>
        <a data-fancybox rel="gallery-about" href="/images/portfolio/armor2.jpg">
          <img class="small_portfolio third" src="/images/portfolio/armor2.jpg">
        </a>
        <a data-fancybox rel="gallery-about" href="/images/portfolio/painting2.jpg">
          <img class="small_portfolio twothird" src="/images/portfolio/painting2.jpg">
        </a>
			{{/if }}
  </div> </div>
</template>
