@import "{materialize:materialize}/sass/materialize.scss";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import "navbar.scss";

@font-face { font-family: Verdana; src: url("/fonts/verdana/verdana.ttf") }
@font-face { font-family: VerdanaBold; src: url("/fonts/verdana/verdanab.ttf") }
@font-face { font-family: "RobotoThin"; src: local(Roboto Thin), url("/fonts/roboto/Roboto-Thin.ttf") format("ttf"); font-weight: 100; }
@font-face { font-family: "RobotoLight"; src: local(Roboto Light), url("/fonts/roboto/Roboto-Light.ttf") format("ttf"); font-weight: 300; }
@font-face { font-family: "RobotoRegular"; src: local(Roboto Regular), url("/fonts/roboto/Roboto-Regular.ttf") format("ttf"); font-weight: 400; }
@font-face { font-family: "RobotoMedium"; src: local(Roboto Medium), url("/fonts/roboto/Roboto-Medium.ttf") format("ttf"); font-weight: 500; }
@font-face { font-family: "RobotoBold"; src: local(Roboto Bold), url("/fonts/roboto/Roboto-Bold.ttf") format("ttf"); font-weight: 700; }


$med_purple: #5c6ac4;
$dark_purple: #202e78;

$med_button_grey: #30373b;
$dark_button_grey: #22272a;
$light_grey: #f4f6f8;
$med_grey: #dfe3e8;
$dark_grey: #2a2c2e;

$dark_blue: #000639;
$normal_text: #637381;
$heavy_text: #212b35;
$purple_text: #5c6ac4;

html { background-color: white; color: $normal_text }
/*body { min-height:100vh; }*/

p { @extend .flow-text; color: $normal_text; }
a {
	@extend .flow-text; text-decoration: underline; color: black;
	&:visited { color: black; }
}

.purple-btn {
	@extend .btn;
	color: $med_purple; background-color: white;
	font-weight: 500;
	&:hover, &:active { background-color: $med_purple !important; }
	&.selected, &:focus { background-color: $med_purple !important; }
	&:visited { color: $med_purple; }
}

div.main-content {
	min-height: calc(100vh - 131px);
	text-align: center;
	p { width: 96%; margin: 10px auto; }
	div.img_container { img { width: 50%; margin-top: 20px; } }
	.hello { width: 62%; }
	.welcome { font-size: 100%; width: 80%; a { text-decoration: underline; } }
	#shopify-full-color-black{
    width: 44%; height: 50px;
  }
	img.random_img { width: 100%; margin: 20px 0; }
	.title {
		display: inline-flex; width: 90%; margin: 20px auto 10px auto;
		p { font-weight: bold; font-size: 180%; margin: auto; text-align: left; margin-left: 10px; color: black; }
		img.title-img { width: 12%; height: 100%; margin: auto 0;}
	}
	.intro { width: 90%; text-align: left; }

}

div.button-area {
	text-align: center;
	margin-bottom: 50px;
	a {
		height: 60px; width: 90%;
    margin: 10px auto;
    font-size: 180%;
    line-height: 60px;
	}
}

ul.collapsible {
	width: 92%; margin: 30px auto;
	.collapsible-header {
		color: black;
		font-weight: bold;
	}
	.collapsible-body {
		text-align: left; padding: 10px;
		color: $normal_text; background-color: $light_grey;
		p { font-size: small; }
	}
	&.popout li {
		margin: 0;
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.04), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
		&.active { margin: 0 0 10px 0; box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.08), 0 4px 15px 0 rgba(0, 0, 0, 0.12); }
	}
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------- about me ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
div.main-content {
	.section { padding: 0; }
	p.about {
		text-align: justify;  width: 90%;
	}
	.about_img { width: 100%; margin: 40px 0 10px 0; }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------- employment --------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
ul.collapsible.jobs {
	.collapsible-header {
		padding: 4px 15px;
		.job-header {
			width: 100%;
			display: inline-flex; justify-content: space-between;
			.jobtitle, .company {  text-align: left; margin: auto 0; }
			.jobtitle { font-size: 90%; max-width: 50%;}
			.company { text-align: right; font-weight: normal; font-size: 80%; margin-right: 4px; }
		}
		.job-img { width: 15%; height: 100%; float: right;}
	}
	.collapsible-body {
		.dates { font-style: italic; margin: 0; font-size: small; }
		.job-details {
			width: 100%;
			p { font-size: 100%; margin-left: 0; }
		}
	}
}


/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------- fonts ----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
html {
	/*font-family: RobotoRegular;*/
}