@import "{materialize:materialize}/sass/materialize.scss";

$med_purple: #5c6ac4;
$dark_purple: #202e78;

$med_button_grey: #30373b;
$dark_button_grey: #22272a;
$light_grey: #f4f6f8;
$med_grey: #dfe3e8;
$dark_grey: #2a2c2e;

$dark_blue: #000639;
$normal_text: #717f8c;
$heavy_text: #212b35;
$purple_text: #5c6ac4;

nav .button-collapse{
  float: right;
}

nav.navbar {
  color: $heavy_text;
  .button-collapse { color: $dark_grey; }
  .nav-wrapper{
    background-color: white;
    i { float: left; margin: 0 18px; }
    .brand-logo { width: 100%; color: $dark_grey; font-weight: 500; font-size: x-large; }
    .logo {
      height: 100%;
    }
  }
}
.side-nav{
  width: 50%; text-align: right;

  li a {
    font-weight: 400; height: 44px; line-height: 44px;
    &.profile-name { font-weight: 600; font-size: 130%; line-height: 130%; }
    &.profile-number { letter-spacing: 2px; font-style: italic; height: 24px; line-height: 24px; font-weight: 300; }
  }
  .navbar-img {
    width: 70%;
    margin: 0 15%;
  }
}


/*----------------- FOOTER SETTINGS -----------------------*/
footer {
  color: white; background-color: $dark_blue;
  margin-top: 50px;
  .footer {
    height: 80px; line-height: 80px;
    display: inline-flex; justify-content: space-around;
    width: 80%; margin: 0 10%;
    .copy { margin: auto; line-height: 30px; font-size: small; }
    /*a { font-size: 125%; }*/
  }
}

.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }


@media screen and (min-width: 993px) and (max-width: 1200px) {
  nav.navbar {
  }
}

@media #{$medium-and-down} {
  nav.navbar {
  }
  /*----------------- SMALL FOOTER SETTINGS -----------------------*/
  footer {
  }
}

@media screen and (max-width: 400px) {
  nav.navbar {
  }
}