<template name="portfolio">
  <!-- MEDIUM AND SMALLER CONTENT -->
  <div class="page-content"> <div class="main-content">
	    <div class="title">
	    	<img src="images/{{ profile.name.first }}.jpg" alt="" class="circle title-img">
	      <p> portfolio</p>
      </div>
      <p class="intro"> {{ intro }} </p>
      <br><br>
      <div class="section">
        <p class="about">Branche screens</p>
        <a data-fancybox rel="gallery-interest" href="/images/portfolio/branche.jpg">
          <img class="clickable_img" src="/images/portfolio/branche.jpg">
        </a>
        <p class="about">Branche Explainer Video</p>
        <iframe class="youtube" src="https://www.youtube.com/embed/oiUJqtAdmv4" frameborder="0" allowfullscreen></iframe>

        <p class="about">DES website</p>
        <a href="https://www.digitalescrowservices.com/" target="_blank"><img class="clickable_img" src="/images/portfolio/website_des.jpg"></a>

        <p class="about">Online Portfolio</p>
        <a href="https://loganschinbecklerportfolio.carrd.co/" target="_blank"><img class="clickable_img" src="/images/portfolio/website_portfolio.jpg"></a>
      </div>
  </div> </div>
</template>