<template name="portfolio">
  <!-- MEDIUM AND SMALLER CONTENT -->
  <div class="page-content"> <div class="main-content">
	    <div class="title">
	    	<img src="images/{{ profile.name.first }}.jpg" alt="" class="circle title-img">
	      <p> portfolio</p>
      </div>
      <p class="intro"> {{ intro }} </p>

	    {{#each section }}
      	<div class="portfolio">
      		<h4>{{this.title}}</h4>
      		{{#each category }}
      			<div class="portfolio_container {{ this.class }}">
      				<hr>
      				<p class="portfolio_title">{{ this.text }} </p>
      				<div class="gallery_container gallery-{{@index}}">
      				{{#each this.photo }}
      					<a data-fancybox rel="gallery-{{ grouping this}}" href="/images/portfolio/{{ this }}">
      						<!-- Thumbnail -->
      						<img class="small_portfolio" src="/images/portfolio/{{ this }}">
    						</a>
      				{{/each}}
      				</div>
    				</div>
      		{{/each}}
      		{{#if link_section this.title }}
      			{{> links }}
      		{{/if }}
    		</div>
	    {{/each}}
  </div> </div>
</template>

<template name="links">
	{{#each sub_category }}
		<div class="portfolio_container {{ this.class }}">
			<hr>
			<p class="portfolio_title">{{ this.text }} </p>
			{{#if this.video }}
  			<a data-fancybox data-fancybox-type="iframe" href="{{ this.link }}">Youtube Video</a>
  		{{else }}
				<a href="{{ this.link }}" target="_blank">click here to visit</a>
  		{{/if }}
		</div>
	{{/each}}
</template>