<template name="portfolio">
  <!-- MEDIUM AND SMALLER CONTENT -->
  <div class="page-content"> <div class="main-content">
	    <div class="title">
	    	<img src="images/{{ profile.name.first }}.jpg" alt="" class="circle title-img">
	      <p> portfolio</p>
      </div>
      <p class="intro"> {{ intro }} </p>

        <!-- if we want, add the odd item class to change every other row -->
        <!-- <li class="{{#if odd @index}}odd_item{{/if}}"> -->
        {{#each section }}
          <h4>{{this.title}}</h4>
          <ul class="collapsible popout" data-collapsible="accordion">
          {{#each category }}
            <li>
              <div class="collapsible-header">{{this.text}}</div>
              <div class="collapsible-body">
                  <div class="portfolio_container {{ this.class }}">
                    <div class="gallery_container gallery-{{@index}}">
                    {{#each this.photo }}
                      <a data-fancybox rel="gallery-{{ grouping this}}" href="/images/portfolio/{{ this }}">
                        <!-- Thumbnail -->
                        <img class="small_portfolio" src="/images/portfolio/{{ this }}">
                      </a>
                    {{/each}}
                    </div>
                  </div>
              </div>
            </li>
          {{/each}}
          {{#if link_section this.title }}
            {{> links }}
          {{/if }}
          </ul>
        {{/each}}
  </div> </div>
</template>

<template name="links">
	{{#each sub_category }}
		<li>
      <div class="collapsible-header">{{this.text}}</div>
      <div class="collapsible-body">
        {{#if this.video }}
          <iframe class="youtube" src="{{ this.link }}" frameborder="0" allowfullscreen></iframe>
        {{else }}
          <a href="{{ this.link }}" target="_blank">click here to visit</a>
        {{/if }}
      </div>
    </li>
	{{/each}}
</template>