<template name="employment">
  <!-- MEDIUM AND SMALLER CONTENT -->
  <div class="page-content hide-on-large-only"> <div class="main-content">
	    <div class="title">
	    	<img src="images/{{ profile.name.first }}.jpg" alt="" class="circle title-img">
	      <p> employment experience</p>
      </div>
	    <p class="intro"> {{ intro }} </p>

			<ul class="collapsible popout jobs" data-collapsible="accordion">
	      <!-- if we want, add the odd item class to change every other row -->
	      <!-- <li class="{{#if odd @index}}odd_item{{/if}}"> -->
		    {{#each jobs }}
		      <li>
		        <div class="collapsible-header">
		        	<div class="job-header">
		        		<div class="jobtitle">{{this.title}}</div>
		        		<div class="company">
		        		  <div> {{this.company}}</div>
	        		  </div>

		        	</div>
		        	<img class="circle job-img" src="/images/{{this.img}}">
	        	</div>

		      	<div class="collapsible-body">
		      		<p class="dates">{{this.content.dates}}</p>
		      		<div class="job-details">
		      		  {{#each this.content.points }}
		      		  	<p>- {{this}}</p>
		      		  {{/each}}
	      		  </div>
		    		</div>
		      </li>
		    {{/each}}
		  </ul>
  </div> </div>
</template>
